/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.Leo{
  background-color: lightgrey;
  border: 1px solid;
  font-size: 1em;
  cursor: grab;
}
